<!DOCTYPE hmtl>
<body style="background-color:dark grey">

<div class="center hero-unit" style="background-image:url(woodback.jpg); background-size:100%">

<h1 style="font-family: nexa_rust_sansblack;
	font-size: 90px; color:beige"> Welcome!</h1>

  <h2 style="color:beige">
    This is the home page for the
    my professional website.
  </h2>

    
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/projects">
      	<img alt="Projects" src="cplus.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> Projects </h1>
      </div>
    </div>
    <div class="item">
      <a href="/about">
      	<img alt="About" src="lifeMotto.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> About </h1>
      </div>
    </div>
    <div class="item">
      <a href="/contact">
      	<img alt="Contact" src="lifeMotto.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> Contact </h1>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
 </div>


</div>


    <br><%= check_box_tag :other_fi_l, 1, @other_fi_l %> ECID Licensed 
    <br><%= check_box_tag :other_fi_d, 1, @other_fi_d %> In-Network
    <br><%= check_box_tag :other_fi_c, 1, @other_fi_c %> ECID Capable
    <br><%= check_box_tag :other_fi_x, 1, @other_fi_x %> Company Connect Enabled
    <br><%= check_box_tag :other_fi_n, 1, @other_fi_n %> Network Display Text




</body>





</html>
