<header class="navbar navbar-fixed-top navbar-inverse" style="height:40px">
  <div class="navbar-inner" style="height:40px">
    <div class="container" style="height:40px">
      <%= link_to "David Delorenzo", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Small Projects", projects_path %></li> 
          <li><%= link_to "Programming Problems", programming_problems_path %></li>
          <li><%= link_to "Resume", resume_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
